@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>


 
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 












    <title> &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/css/mediaelementplayer.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/fl-bigmug-line.css">


    <link rel="stylesheet" href="~/Content/css/aos.css">

    <link rel="stylesheet" href="~/Content/css/style.css">


    <style>
        input[type=text], select {
            width: 100%;
            padding: 10px 20px;
            margin: 0px 0px;
            display: inline-block;
            
            border: 1px solid #ccc;
            border-radius: 200px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            border: none;
            border-radius: 300px;
            width:150px;
            cursor: pointer;
            font-size: 10px;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #082c1f;
            
        }

        li {
            float: inherit;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #006400;
                }
    </style>

</head>
<body>








    <div class="site-navbar mt-4">
        <div class="container ">
            <div class="row align-items-center">

                <div class="col-4 col-md-4 col-lg-8">
                    <nav class="site-navigation text-right text-md-right" role="navigation">

                        <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-red"><span class="icon-menu h3"></span></a></div>

                        <center>
                            <ul class="site-menu js-clone-nav d-none d-lg-block">


                                <li class="has-children"></li>
                                <li><a href="Index"> <center>Home</center></a></li>
                                <li><a href="About"><center>About</center></a></li>
                                <li><a href="contact"><center>Contact</center></a></li>

                            </ul>
                        </center>


                    </nav>
                </div>


            </div>
        </div>
    </div>































    <div align="center">

        <br><br><br><br><br> <br><br><br><br> <br><br><br>  <input type="text" id="fname" name="firstname" placeholder="enter email">  <input type="submit" value="Subscribe">
    </div>










            <script src="~/Content/js/jquery-3.3.1.min.js"></script>
            <script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
            <script src="~/Content/js/jquery-ui.js"></script>
            <script src="~/Content/js/popper.min.js"></script>
            <script src="~/Content/js/bootstrap.min.js"></script>
            <script src="~/Content/js/owl.carousel.min.js"></script>
            <script src="~/Content/js/mediaelement-and-player.min.js"></script>
            <script src="~/Content/js/jquery.stellar.min.js"></script>
            <script src="~/Content/js/jquery.countdown.min.js"></script>
            <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
            <script src="~/Content/js/bootstrap-datepicker.min.js"></script>
            <script src="~/Content/js/aos.js"></script>
            <script src="~/Content/js/circleaudioplayer.js"></script>

            <script src="~/Content/js/main.js"></script>

</body>
</html>